.center{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.background-image {
  display: flex;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-size: cover;
  height:30rem;

}


/*       --------------------------Banner---------------------*/

.container {

  width: 960px;
  font-size: 18px;
  line-height: 1.4;
  justify-content: center;
  margin-top: 1rem;
  font-family: Helvetica;
  position:relative;
}

.company-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  width: 100%;
  color: white;
}

.company-info .logo img {
  height: 1.5rem;
  padding-left: 2rem;
}

.company-info ul {
  display: flex;
}

.company-info li {
  padding: 1rem 2rem;
  list-style-type: none;
}

.company-info span {
  padding: 1rem 2rem;
}

.company-info .logo {
  display: flex;
  align-items: center;
}

.phrase {
  background: white;
  position: absolute;
  top: 10rem;
  right: -2rem;
  padding: 1.5rem 5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}


/*---------------------------------------------Services-------------------------*/

.services {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 3rem 6rem;
  height: 8rem;
  line-height: normal;
}

.services .exams img {
  width: 3rem;
}

.services .fittings img {
  width: 5rem;
}

.services .delivery img {
  width: 5rem;
}


/* -------------------------------------------About US--------------------------------*/

.business {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.info{
  margin-right: 5%;
  width: 35%;

}

.info .title {
  display: block;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  color: white;
  width: 10rem;
}

p {
  padding-top: 1rem;

}


/*-------------------------------footer---------------------------*/

footer {
  display: flex;
  align-items: center;
  background-color: azure;
  margin-top: 5rem;
}

footer .logo {
  display: flex;
  padding: 4rem 4rem;
}

footer .logo img {
  height: 1.5rem;
}

footer span {
  padding-left: 1rem;
}

/*-------------------------------media queries-------------------------*/

/*       Table 1024 px                                     */
@media only screen and (max-width: 1024px) and (orientation: portrait) {

.background-image{
  height: 22rem;
}
.center{
  width: 100%;
}

.container{
  width: 100%;
  margin-top: 0rem;
}
.phrase{
  top: 5rem;
  padding: 0.75rem 4rem;
  right: 2rem;
  font-size: 1.33rem;
}


}


/*          Mobile  560px                                    */
@media only screen and (max-width: 560px){
.background-image{
  height: 17rem;
  background-position: 20%;
}
.phrase{
  display: block;
  text-align: center;
  margin:9rem auto 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width:100%;


}
.phrase span{
  font-size: 1rem;
}
.services{
  display: block;
  margin: 3.77rem auto;


}
.services img {
  margin-top: 1.54rem;;
}


.services h4{
  font-size: 0.77rem;

}

.business{
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;


}
.business img{
  margin-bottom: 1.54rem;
}
.info .title{
  width: 100%;
  

}
p{
  font-size: 0.77rem;
  padding-top: 1rem;
}



}
